.content{
    height: auto;
    margin: 1px 10px;
    padding: 3px;
}
.navbar-brand{
    border-radius: 5px;
    color: white !important;
    font-weight: bold;
}
form .nav-item{
    display: inline-flex;
}
.active{
    background-color: rgb(4, 91, 121);
    color: aqua !important;
    border-radius: 5px;
}
.jumbotron{
    display: none;
}